<div class="l-search_results">
  <div class="l-constrained">
    <h1 class="l-search-results__heading">Advisers matching my requirements <span class="l-search-results__heading-span">(219 matches)</span></h1>

    <a href="/shortlist" class="l-search-results__shortlist-link">My Shortlist <span class="l-search-results__shortlist-count">(3)</span></a>
  </div>
</div>

<div class="l-constrained">
  <% if display_search_filter? %>
    <%= render 'shared/initial_filter' %>
  <% end %>

  <%= render partial: 'shared/result', collection: @advisor_data %>

  <ul class="pagination">
    <li><a href="">Previous</a></li>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">Next</a></li>
  </ul>

  <a href="/shortlist" class="l-search-results__shortlist-link-bottom">My Shortlist <span class="l-search-results__shortlist-count">(3)</span></a>
</div>
