$button-text-color: $charcoal;

$button-background-color: $mystic;
$button-background-color--hover: $anti-flash-white;

$button-border-radius: baseline-unit(0.5);
$button-border-style: 1px solid $mystic;
