h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: $base-heading-color;
  font-weight: 700;
  text-transform: capitalize;
}

h1 {
  @include font-size(42);
}

h2 {
  @include font-size(30);
}

h3 {
  @include font-size(24);
}

h4 {
  @include font-size(18);
}
