<header role="header" class="l-header">
  <div class="l-constrained">
    <div class="l-header__logo">
      <%= render 'shared/logo' %>
    </div>

    <ul class="l-header__nav">
      <li><a hef="">Cymraeg</a></li>
      <li><a hef="">Sign in</a></li>
      <li><a hef="">Register</a></li>
  </div>
</header>
