<div class="info-block">
  <h3 class="info-block__heading">Regulated by the Financial Conduct Authority</h3>
    <img src="" class="info-block__image" />

    <div class="info-block__text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum vestibulum tellus vitae lacinia. Sed sit amet orci quis felis dignissim vehicula at nec leo. Nam varius, felis vitae ultricies dapibus, sem sapien pellentesque lectus, sed pellentesque quam enim in erat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum vestibulum tellus vitae lacinia. Sed sit amet orci quis felis dignissim vehicula at nec leo.</p>
      <ul class="info-block__list">
        <li>This is a very important point</li>
        <li> Also, you should probably read this.</li>
        <li>Don't forget this point, it's vital.</li>
      </ul>
    </div>
</div>
