<div class="info-block">
  <h3 class="info-block__heading">Find an advisor you can trust</h3>
    <img src="" class="info-block__image" />

    <div class="info-block__text">
      <p> All the financial advisers on the Money Advice Service Directory are authorised and regulated by the Financial Conduct Authority and offer regulated financial advice [link to Choosing a financial adviser] This means they must collect enough information from you to make a personal recommendation.</p>
      <p>If the recommendation turns out to be inappropriate or unsuitable you can make a complaint about mis-selling to the firm the adviser works for. If the complaint is turned down you can take your case to the Financial Ombudsman Service.</p> 
      <p>All advisers and firms on this directory are also covered by the Financial Services Compensation Scheme.</p>
    </div>
</div>
