<form class="filter">
  <div class="l-info-page__filter-col">
    <h3 class="initial-filter__subheading">My pension pot is</h3>
    <p>To match you to advisers who handle pension pots similar to your, please complete the following:</p>
    <input type="range" />
  </div>

  <div class="l-info-page__filter-col">
    <h3 class="initial-filter__subheading">I need advice with</h3>
    <p>To find you advisers who specialise in what is important to you</p>
    <p><input type="checkbox" /> Pension transfers</p>
    <p><input type="checkbox" /> Inheritance planning</p>
    <p><input type="checkbox" /> Equity release</p>
    <p><input type="checkbox" /> Long term care plan</p>
  </div>

  <div class="l-info-page__filter-col">
    <h3 class="initial-filter__subheading">I live in</h3>
    <p>To find you relevant advisers nearest to you.</p>
    <input type="text" placeholder="Enter postcode or town name"/>
  </div>

  <% if display_search_results_total? %>
    <div class="l-info-page__filter-total">
      <p class="filter__total"><span class="filter__total-label">0</span> matching advisers</p>
      <a class="button filter__button" href="/search_results">Review my matches</a>
    </div>
  <% end %>

  <% if display_advanced_options? %>
    <div class="l-info-page__filter-total">
      <a class="filter__advanced-options" href="">Advanced Options</a>
    </div>
  <% end %>
</form>
