$play-button-color: #454545;
$play-button-circle-color: #888888;
$play-button-circle-color-hover: red;

%banner-text {
  text-align: center;
}

.banner {
  position: relative;
  background: $ui-background-alt;
  background-size: cover;
  height: 500px;

  & svg {
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-top: 40px;
    margin-left: -50px;
    width: 100px;
    opacity: 0.8;

    & circle {
      fill: #FFFFFF;
      stroke: $play-button-color;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }

    & path {
      fill: $play-button-color;
      stroke: $play-button-color;
    }
  }
}

.banner__heading {
  @extend %banner-text;
  color: $default-heading-color;
  line-height: 1.4;
  width: 700px;
  margin: 3rem auto;
}

.banner__list {
  @include column(12);
  @extend .unstyled-list;
  margin-top: baseline-unit(2);
  margin-bottom: baseline-unit(2);
  text-align: center;
}

.banner__list-container {
  background-color: $ui-background-alt;
  border-bottom: $ui-border;
  border-top: $ui-border;
}

.banner__item {
  @include column(3);
  margin-bottom: 0;
  color: $default-text-colour;
  display: inline-block;
}
