.breadcrumbs {
  background-color: $base-background-color--alt;
  padding: baseline-unit(3) 0;
  border-bottom: $base-border-style;
}

.breadcrumbs__list {
  @include column(6);
}

.breadcrumbs__sign-in {
  @include column(6);
  text-align: right;
}
