.filter {
  overflow: hidden;
  background-color: $ui-background-alt;
}

.filter__total {
  color: $default-heading-colour;
  margin-top: $baseline-unit*2;
  float: left;
}

.filter__total-label {
  font-size: 4rem;
  line-height: 1;
}

.filter__advanced-options {
  margin-bottom: $baseline-unit*2;
  display: inline-block;
  float: right;
}

.secondary-filter {
  z-index: 1;
  position: relative;
  top: -70px;
  clear: both;
  padding: $baseline-unit*4;
  background-color: $ui-background-alt;
}

.secondary-filter__checkbox-text {
  margin: $baseline-unit 0;
}

.secondary-filter__button {
  margin-top: $baseline-unit*4;
  float: right;
}

.secondary-filter__heading {
  margin-bottom: $baseline-unit*3;
}

.secondary-filter__heading-small-text {
  font-size: 1rem;
  font-weight: 300;
}

.secondary-filter__pension-description {
  margin-top: 0;
}

.secondary-filter__pension-total {
  font-size: 2rem;
  margin: 0;
}

.secondary-filter__pensions-slider {
  margin-left: $baseline-unit*3;
}

.secondary-filter__post-code[type="text"] {
  line-height: 1.4;
  height: auto;
  padding: $baseline-unit;
  margin: $baseline-unit;
  margin-left: $baseline-unit*3;
  width: 300px;
  border: $ui-border;
}

.l-secondary-filter {
  overflow: hidden;
}

.l-secondary-filter__cols {
  @include column(6);
}

.l-secondary-filter__total {
  @include column(12);
  clear: both;
  margin-top: $baseline-unit*4;
  border-top: $ui-border;
}
