.filter-button {
  position: relative;
  @include column(8);
  @include push(2);
  display: block;
  clear: both;
  cursor: pointer;
  text-align: center;
  background-color: $ui-foreground;
  border-radius: $ui-border-radius;
  padding: $baseline-unit*3 0;
  margin-top: $baseline-unit*8;
  margin-bottom: $baseline-unit*8;
  z-index: 2;

  &:hover {
    background-color: $ui-background;
    text-decoration: none;
  }

  svg {
    position: absolute;
    top: 40px;
    right: $baseline-unit*4;
    width: 40px;
  }
}

.filter-button__heading {
  margin: 0;
  color: $default-heading-colour;
}

.filter-button__tagline {
  margin: $baseline-unit 0;
  color: $default-heading-colour;
}
