.filter-button {
  position: relative;
  @include column(6);
  @include push(3);
  display: block;
  clear: both;
  cursor: pointer;
  text-align: center;
  background-color: $ui-background;
  border-radius: $ui-border-radius;
  padding: baseline-unit(3) 0;
  margin-top: baseline-unit(8);
  margin-bottom: baseline-unit(8);
  z-index: 2;

  &:hover {
    background-color: $ui-background;
    text-decoration: none;
  }

  svg {
    display: none;
    position: absolute;
    top: 40px;
    right: 22px;
    width: 30px;
  }
}

.filter-button__heading {
  margin: 0;
  color: $base-heading-color;
}

.filter-button__tagline {
  margin: baseline-unit(1) 0;
  color: $base-heading-color;
}
