@import 'lib/colors';
@import 'lib/mixins';
@import 'lib/placeholders';
@import 'lib/functions';

// KEY VARIABLES

$vertical-grid-spacing: 6; // to define the baseline-unit (function)


// TYPOGRAPHY

$base-font-size: 16;
$base-line-height: 1.4;

$brand-font: 'museo_sans';
$base-font-stack: $brand-font, Helvetica, Arial, sans-serif;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

$base-text-color: $charcoal;
$base-text-color--negative: $anti-flash-white;

$base-heading-color: $charcoal;
$base-heading-color--negative: $anti-flash-white;


// APPLIED LINK COLORS

$base-link-color: $charcoal;


// APPLIED UI COLORS
$base-foreground-color: $green-mist;
$base-background-color: $mystic;
$base-background-color--alt: $ghost-white;

$base-button-color: $mystic;
$base-button-color--hover: $ghost-white;

$base-border-style: 1px solid $mystic;
$base-border-radius: baseline-unit(0.5);
