// Vertical grid spacing defines the vertical rhythm of the page.
// This sets the baseline-unit function.

$vertical-grid-spacing: 6;

// Font Family
// Define the brand font and the font families used in the font stack.

$brand-font: 'museo_sans';
$base-font-stack: $brand-font, Helvetica, Arial, sans-serif;


// Browser font size is usually 16px but this is here to ensure it.
// This variables is commonly used throughout the project in functions and mixins.

$browser-font-size: 16;


// Line Height
// Define the base line-height for the body.

$base-line-height: 1.4;


// Font Weights
// Define the font weights, declared in 100 format by more maintainable names.

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
