// colour palette
$charcoal: #403E3F;
$anti-flash-white: #F2F2F2;
$mystic: #D9D9D9;
$green-mist: #BCBD99;
$taupe-gray: #8C8C8C;
$white: #FFFFFF;

// prototyping colours
$ui-background: $mystic;
$ui-background-alt: $anti-flash-white;
$ui-foreground: $green-mist;
$ui-border: 1px solid $mystic;
$ui-border-radius: 3px;

$default-text-colour: $charcoal;
$default-heading-colour: $charcoal;
$default-heading-colour--negative: $anti-flash-white;


